services:
  - type: web
    name: mercadolivre-api
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: CLIENT_ID
        sync: false
      - key: CLIENT_SECRET
        sync: false
